*{
    box-sizing: border-box;
}
.container{
    width: 80%;
    margin: 0 auto;
}
.wellcome__about{
    display: flex;
}
.wellcome__about-image{
    width: 400px;
}
.wellcome__about-text{
    background-color: #d11119;
    padding: 30px;
}
.wellcome-title{
    font-size: 2rem;
    color: #fff;
}
.wellcome-subtitle{
    padding: 0 20px;
    font-size: 1.3rem;
    color: #fff;
}
.courses__container{
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    justify-content: space-between;
}
.courses__item-title{
    font-weight: bold;
    font-size: 1.5rem;
}
.courses__item-image{
    width: 100%;
}

/* Courses chess */

.courses-chess{
    margin-top: 50px;

}
.courses-chess__item{
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    max-height: 500px;
}
.courses-chess__item_reverse{
    flex-direction: row-reverse;
    
}
/* .courses-chess__item_reverse .courses-chess__item-text{
    margin-left: 0;
    /* margin-right: 25px; 
} */
.courses-chess__item-text{
    width: 48%;
/* margin-left: 25px; */
padding: 20px;
background-color: #d11119;
color: #fff;
}
.courses-chess__item-image{
    width: 48%;
    /* margin-right: 25px; */
}
.courses-chess__item-title{
    font-weight: bold;
    font-size: 2rem;
}
.courses-chess__item-descr{
    margin-top: 20px;
    font-size: 1.3rem;
}

/*code form github*/

img{
    width: 100%;
}

.courses-list__container {
    display: grid;
    gap: 40px;
    grid-template-columns: repeat(3, 1fr);
  }
  
.courses-list__item{
    display: flex;
    flex-direction: column;
    /* background-color: #d11119; */

}
.courses-list__item-title{
    margin-top: 10px;
    font-size: 1.3rem;
    /* color: #fff; */
    font-weight: bold;
}
.courses-list__item-descr{
    margin: 5px 0;
}
  .courses-list__item-dropdown {
    position: relative;
    transition: all 0.5s ease-in-out;
    margin: 10px 0;
    background-color: #f0f0f0;
    font-weight: bold;
    color: #000;
    padding: 10px;
    padding: 10px 20px 10px 20px
  }
  .courses-list__item-dropdown::after {
    position: absolute;
    content: "+";
    top: 50%;
    right: 5%;
    transform: translateY(-50%);
    
    transition: transform .5s ease-in-out;
  }
  .dropdown-active::after {
    transform: rotate(45deg);
    top: 10px;
  }
  
  .dropdown-container {
    display: none;
    flex-direction: column;
    margin-top: 10px;
    font-weight: normal;
    position: relative;
  }
  .courses-list__item-dropdown::before{
    display: none;
  } 
  .dropdown-active{
    border-radius: 16px 0 0 16px;
  }
  .dropdown-active::before{
    display: block;
    position: absolute;
    content: "";
    width: 5px;
    top: 0;
    left: 0;
    height: 100%;
    background-color: #d11119;
    border-radius: 16px 0 0 16px;
  }
  .dropdown__item {
    margin-top: 10px;
  }
  .courses-list__item-text{
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    padding: 10px;
  }
  .more-btn{
    margin: 0 auto;
    margin-top: 15px;
    width: 80%;
    height: 40px;
    border-radius: 16px;
    background-color: #d11119;
    color: #fff;
    border: none;
    cursor: pointer;
    font-weight: bold;
    transition: all .5s ease-in-out;
  }
.more-btn:hover{
    transform: scale(1.1);
  }
  .dropdown-container hr{
    width: 100%;
  }
