img{
    width: 100%;
}
.container{
    width: 80%;
    margin: 0 auto;
}
.courses-list__container{
    display: grid;
    gap: 40px;
    grid-template-columns: repeat(3, 1fr);
}
.courses-list__item-dropdown{
    position: relative;
    transition: all .5s ease-in-out;
    &::after{
        position: absolute;
        content: "▼";
        top: 0;
        right: 10%;
    }
    
}
.dropdown-active{
        &::after{
            content: "▲";
        }
}
.dropdown-container {
    display: none;
    flex-direction: column;
    padding-left: 8px;
  }
  .dropdown__item{
    margin-top: 10px;
  }